.App {
  min-height: 100vh;
  background-color: #fafafa;
}

.grain-texture {
  background-image: url('https://grainy-gradients.vercel.app/noise.svg');
  opacity: 0.2;
  pointer-events: none;
  position: fixed;
  inset: 0;
  z-index: 50;
  mix-blend-mode: overlay;
}